:root {
	--black: "black";
}

@media (prefers-color-scheme: dark) {
	:root {
		--black: "black";
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	color: white;
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
